//- subLayout2.pug
extends layout2.jade

block content
    .sidebar
        block sidebar
            p Layout2 Sidebar
    .primary
        block primary
            p Layout2 Primary

block newsInsert
    .sidebar
        block primarynews
            p SubLayout2 Primary News
    .secondary
        block secondary
            p SubLayout2 Secondary
