body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #ccc;
}

a {  color: #00B7FF;}

h1 { font-size: 22px; color: #c606c6; }
.blue { color: blue }
.big  { font-size: 24px }
.red  { color: #ff3388 }
.mash { font-family: Stencil,serif }

.btn {
  display:inline-block;
  color:#444;
  border:1px solid #CCC;
  background:#DDD;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
  cursor:pointer;
  vertical-align:middle;
  max-width: 100px;
  padding: 5px;
  text-align: center;
}

.btn:active {
  color:red;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}